.screen-wrapper {
    position: absolute;
    //top: -35px;
    left: 7px;
    background: #f4f4f4;
    color: #000;
    font-size: 11px;
    width: 170px;
    padding: 4px 10px;
    border-radius: 2px;
    z-index: 1;
    cursor: pointer;
    .screen-record {
      background: transparent;
      //color: #fff;
      display: flex;

      &::before {
        content: "";
        mask: url("../../../images/icon-record-filled.svg") no-repeat center
          center;
        -webkit-mask: url("../../../images/icon-record-filled.svg") no-repeat center
          center;
        mask-size: 10px;
        -webkit-mask-size: 10px;

        width: 10px;
        height: 10px;
        background-color: #000;
        margin: 3px 4px;
      }
    }

    .screen-shot {
      background: transparent;
      //color: #fff;
      display: flex;

      &::before {
        content: "";
        mask: url("../../../images/icon-screenshot-filled.svg") no-repeat
          center center;
        -webkit-mask: url("../../../images/icon-screenshot-filled.svg") no-repeat
          center center;
        mask-size: 10px;
        -webkit-mask-size: 10px;

        width: 10px;
        height: 10px;
        background-color: #000;
        margin: 3px 4px;
      }
    }
  }

  .add-btn {
    width: 80%;
    margin-top: 10px;
    button {
      cursor: pointer;
      content: "";
      mask: url("../../../images/icon-plus.svg") no-repeat center center;
      -webkit-mask: url("../../../images/icon-plus.svg") no-repeat center center;
      min-width: 12px;
      width: 17px;
      height: 17px;
      background-color: #b1b2b3;
      display: block;
      margin: 0 7px;
      border-radius: 50%;
    }
  }

  .video-url {
    grid-template-columns: 30% 30% 30% !important;
    gap: 10px;
    width: 90%;
  }
  #video-content-wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    //gap: 10px;
    padding-top: 14px;
    grid-row-gap: 10px;
    //width: 430px;
    .vid-content {
      margin-left: 5px;
      position: relative;
      #video {
        // max-width: 200px;
        // max-height: 100px;
        width: 100px;
        height: 60px;
        object-fit: initial;
        border-radius: 0;
      }
      #img {
        // max-width: 200px;
        // max-height: 100px;
        width: 100px;
        height: 60px;
        object-fit: initial;
        border-radius: 0;
        margin: 0;
      }
      .footer {
        display: flex;
        background: #232931;
        padding: 2px 2px;
        margin-top: -2px;
        margin-right: 14px;
        width: 100px;
        .id {
          width: 90%;
          font-size: 8px;
        }
        button {
          content: "Delete";
          mask: url("../../../images/icon-delete.svg") no-repeat center center;
          -webkit-mask: url("../../../images/icon-delete.svg") no-repeat center center;

          mask-size: 10px;
          -webkit-mask-size: 10px;

          width: 10px;
          height: 10px;
          background-color: #fff;
          margin-left: -3px;
        }
      }
    }
  }