.video-record-wrapper {
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 60px;
    bottom: 0;
    overflow: scroll;
    right: 0;
    background: #232931 0% 0% no-repeat padding-box;

    .timer-wrapper {

        .timer-text {
            font-size: 20px;
        }

        .timer-time {
            font-size: 70px;
            padding: 16px;
            // padding-left: 80px;
        }

        .timer-button {

            .capture {
                background: #00BB5A;
                color: #000;
                margin-right: 20px;
                border-radius: 2px;
                width: 93px;
                height: 20px;
            }

            .cancel {
                color: #000;
                border-radius: 2px;
                width: 93px;
                height: 20px;
            }

            
        }
    }

    .load-record-video {
       
        padding-left: 100px;
        padding-top: 24px;
        
        video, img, .image-edit {
            max-width: 100%;
            max-height: 100%;
            width: 90%;
            height: 90%;
            border: 4px solid #fff;
            canvas {
                max-width: 100%;
                max-height: 100%;
            }
        }

        video {
            margin-right: 10%;
        }

        .video-load-header {
            display: flex;
            gap: 10px;
            background: #DDDDDD;
            padding: 11px 0;
            padding-left: 9px;
            align-items: center;
            max-width: 90%;
            border-radius: 2px;

            .left-wrapper {
                display: flex;
                align-items: center;
                width: 50%;
                gap: 10px;
                span {
                    color: #333333;
                }

                .delete-btn {
                    background: #FF0000;
                    color: #fff;
                    //margin-bottom: 10px;
                    margin-right: 5px;
                    border-radius: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 10px;
                    padding: 0 7px;
                    gap: 4px;
                    cursor: pointer;
                    
                    button {
                        content: 'Delete';
                        mask: url("../../../images/icon-delete.svg") no-repeat center center;
                        -webkit-mask: url("../../../images/icon-delete.svg") no-repeat center center;

                        mask-size: 10px;
                        -webkit-mask-size: 10px;

                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                        margin-left: -3px;
                    }
                }

                .save-btn {
                    background: #02BB5B;
                    color: #000;
                    //margin-bottom: 10px;
                    margin-right: 5px;
                    border-radius: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 10px;
                    padding: 0 7px;
                    gap: 4px;
                    cursor: pointer;
                    
                    button {
                        content: 'Delete';
                        mask: url("../../../images/icon-save.svg") no-repeat center center;
                        -webkit-mask: url("../../../images/icon-save.svg") no-repeat center center;

                        mask-size: 10px;
                        -webkit-mask-size: 10px;

                        width: 10px;
                        height: 10px;
                        background-color: #000;
                        margin-left: -3px;
                    }
                }
            }

            .right-wrapper {
                display: flex;
                align-items: center;
                width: 50%;
                justify-content: flex-end;
                gap: 10px;
                padding-right: 20px;


                .add-text {
                    background-color: #646464;
                    color: #fff;
                    padding: 1px 4px;
                    border-radius: 1px;
                    font-weight: 900;
                    padding-left: 6px;
                    cursor: pointer;
                    button {
                        content: '';
                        mask: url("../../../images/icon-text-input.svg") no-repeat center center;
                        -webkit-mask: url("../../../images/icon-text-input.svg") no-repeat center center;

                        mask-size: 10px;
                        -webkit-mask-size: 10px;

                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                        margin-left: -3px;
                    }
                }
                .draw-arrow {
                    background-color: #646464;
                    color: #fff;
                    padding: 1px 5px;
                    border-radius: 1px;
                    font-weight: 900;
                    cursor: pointer;
                    button {
                        content: '';
                        mask: url("../../../images/icon-arrow-indicator.svg") no-repeat center center;
                        -webkit-mask: url("../../../images/icon-arrow-indicator.svg") no-repeat center center;

                        mask-size: 13px;
                        -webkit-mask-size: 13px;

                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                        margin-left: -3px;
                    }
                    cursor: pointer;
                }
                .undo {
                    background-color: #646464;
                    color: #fff;
                    padding: 1px 5px;
                    border-radius: 1px;
                    font-weight: 900;
                    cursor: pointer;
                    cursor: pointer;
                    button {
                        content: '';
                        mask: url("../../../images/icon-undo_sc.svg") no-repeat center center;
                        -webkit-mask: url("../../../images/icon-undo_sc.svg") no-repeat center center;

                        mask-size: 11px;
                        -webkit-mask-size: 11px;

                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                        margin-left: -3px;
                    }
                }
                .redo {
                    background-color: #646464;
                    color: #fff;
                    padding: 1px 5px;
                    border-radius: 1px;
                    font-weight: 900;
                    cursor: pointer;
                    cursor: pointer;
                    button {
                        content: '';
                        mask: url("../../../images/icon-redo.svg") no-repeat center center;
                        -webkit-mask: url("../../../images/icon-redo.svg") no-repeat center center;

                        mask-size: 11px;
                        -webkit-mask-size: 11px;

                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                        margin-left: -3px;
                    }
                }
            }
        }
    }

}

.main-wrap-position {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

.empty {
    display: none;
}

#button {
    position: fixed;
    bottom: 0;
    right: 50%;
    background-color: green;
    padding: 30px;
    color: #fff;
}