#modal, #overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    position: fixed;
}

#overlay {
    background: rgba(49,49,49,0.8);
}

#modal {
    #modal-content {
        position: absolute;
        top: 25%;
        left: 50%;
        line-height: 1.4;
        padding: 14px 28px;
        border-radius: 10px;
        max-width: 500px;
        min-width: 400px;
        object-fit:contain;
        z-index:100;
        .main-wrapper {
            
            background: #232931 0% 0% no-repeat padding-box;
            max-width: 300px;
            width: 100%;
            padding: 0;
            overflow: scroll;
            font-size: 11px;

            .title {
                font: normal normal medium 11px/16px Poppins;
            }

            .header-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                position: sticky;
                gap: 15px;
                font-size: 11px;
                top: 0;
                background: #2F3741 0% 0% no-repeat padding-box;
                
                .header-inner {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    background-color: #2f3741;
                    border-radius: 2px 0px 0px 0px;
                    padding: 0 10px;
                    font-size: 11px;
                    font-weight: 400;
                }
                // span {
                //     position: relative;
                //     padding-left: 28px;
                //     margin: 0 10px;

                //     &:before,
                //     &:after {
                //         content: "";
                //         position: absolute;
                //         background-color: #fff;
                //         top: 50%;
                //         transform: translateY(-50%);
                //         margin-top: 1px
                //     }
                //     &:before {
                //         left: 0;
                //         width: 15px;
                //         height: 1px;
                //         border-radius: 5px;
                //     }
                //     &:after {
                //         left: 15px;
                //         width: 6px;
                //         height: 6px;
                //         border-radius: 6px;
                //     }
                // }
                .header-close {
                    display: block;
                    width: 11px; height: 11px;
                    mask: url("../../../images/icon-close.svg") no-repeat center center;
                    -webkit-mask: url("../../../images/icon-close.svg") no-repeat center center;

                    background: #fff;
                    margin-right: 10px;
                }
            }

            .search-wrapper {
                padding: 10px 0;
                .topic-filter-search {
                    width: 340px; 
                    height: 20px;
                    margin-right: 5px;
                    &:before{ display: none; }

                    .search {
                        position: relative;
                        width: 100%;
                        max-width: 280px;
                        display: flex;
                        align-items: center;
                        background: #000000 0% 0% no-repeat padding-box;
                        border-radius: 2px;
                        margin: 0;

                        .btn{
                            content: '';
                            mask: url("../../../images/icon-search.svg") no-repeat center center;
                            -webkit-mask: url("../../../images/icon-search.svg") no-repeat center center;

                            min-width: 12px;
                            width: 12px;
                            height: 12px;
                            background-color: #777777;
                            display: block;
                            margin: 0 7px;
                        }
                
                        input {
                            background: transparent;
                            border: none;
                            padding: 0;
                            line-height: 20px;
                            width: 100%;
                            color:#fff
                        }
                    }
                }
            }
            .support-user-list-widget {
                border-top:  1px solid rgb(143, 137, 137);
                padding-top: 15px;
            }
            .support-user-list-widget, .user-list-widget {
                height: auto;
                max-height: 250px;
                overflow: scroll;
                margin-bottom: 15px;
                .field-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    margin: 10px 0;
                    padding: 0;
                    width: 100%;
                    .initial{ margin-right: 5px; }
                    .name { width: 80%;}
                    .user-button {
                        align-items: flex-end;
                        .add {
                            border-radius: 2px;
                        }
                        .remove {
                            background: transparent;
                            color: blue;
                        }
                    }
                }
                .alert {
                    font-size: 11px;
                    padding: 10px;
                    color: red;
                    background: #232931 0% 0% no-repeat padding-box;
                }
                .user-heading {
                    // padding: 10px;
                    color: #B1B2B3;
                }
            }
        }

        .relative {
            position: relative;
            max-height: 200px;
            .support-user-list-widget {
                display: none;
            }
        }
        .absolute {
            position: fixed;
            z-index: 100000;
            padding: 10px;
            top:160px;
            right: 73px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            .support-user-list-widget, .user-list-widget {
                max-height: 150px;
            }
        }
    }
}