.main-wrappers {
  background: #1a1f26;
  // padding: 10px;
  z-index: 100000;
  max-width: 410px;
  // margin-left: 9px;

  .content-wrapper {
    .description {
      font-size: 11px;
      color: #b1b2b3;

      span {
        font-weight: 800;
        color: #fff;
      }
    }

    .feedback {
      font-size: 11px;
      margin: 10px 0;

      span {
        border: 1px solid #b1b2b3;
        color: #b1b2b3;
        margin-right: 10px;
        padding: 0 5px;
        border-radius: 2px;
        cursor: pointer;
      }
    }

    .textarea {
      resize: none !important;
      height: 80px;
      width: 410px;
      background: #000000;
      border: none;
      color: #fff;
      padding: 10px;
    }
  }

  .submit-wrapper {
    width: 100%;
    height: 20px;
    padding-left: 15px;
    margin-right: 25px;
    // background: #2F3741 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      margin: 0 10px 0 0;
      //padding: 0 10px;
      border: none;
      font-size: 10px;
      height: 15px;
      border-radius: 2px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.feedback-wrapper {
  position: absolute;
  bottom: 0%;
  padding: 10px;
  margin: 10px;
  max-width: 434px;
}

.reopen-wrapper {
  position: absolute;
  bottom: 0%;
  padding: 10px;
  margin: 10px;
  max-width: 434px;
  .content-wrapper {
    .textarea {
      margin-top: 10px;
    }
  }
}
