// .user-avatar {
//   // background: #777;
//   // color: #fff;
//   font-weight: 600;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   overflow: hidden;

.avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initial {
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 20px;
  user-select: none;
  letter-spacing: 0.5px;
  text-indent: 0.5px;
}
// }