#create-chat-room {
  width: 450px;
  position: fixed;
  top: 35px;
  bottom: 5px;
  right: 0;
  overflow: hidden;
  background: #232931 0% 0% no-repeat padding-box;
  font-size: 16px;
  color: #fff;
  border-radius: 2px 0px 0px 2px;
  text-align: left;
  //overflow-y: scroll;
  z-index: 100000;
  max-height: -webkit-fill-available;

  .btn-with-icon {
    display: block;
    position: relative;
    padding: 0 !important;
    outline: none;
    color: #000;
    //text-transform: capitalize;
    cursor: pointer;
    background: #000;
    border: none;
    border-radius: 2px;
    display: flex;
    transition: var(--transition);

    &:hover {
      opacity: 0.7;
    }

    i {
      background: rgba(0, 0, 0, 0.2);
      width: 20px;
      height: 20px;
      border-radius: 2px 0 0 2px;
      &:before {
        background: #000;
        content: "";
        display: block;
        margin: 5px auto 0;
        width: 10px;
        height: 10px;
      }
    }
    span {
      padding: 0 5px;
      line-height: 20px;
      text-align: center;
      white-space: nowrap;
    }

    &.btn-cancel-white {
      background: #fff;
      color: #000;

      i {
        &:before {
          -webkit-mask: url("../../images/icon-close.svg") no-repeat center
            center;
          mask: url("../../images/icon-close.svg") no-repeat center center;
          mask-size: 10px;
          -webkit-mask-size: 10px;

          background-color: #000;
        }
      }
    }

    &.btn-approve {
      background: #23c968;
      color: #fff;
      i {
        &:before {
          -webkit-mask: url("../../images/icon-run.svg") no-repeat center center;

          mask: url("../../images/icon-run.svg") no-repeat center center;
          mask-size: 10px;
          -webkit-mask-size: 10px;
          background-color: #000;
          //   font-weight: 500;
        }
      }
      span {
        color: #000;
      }
    }

    &.btn-small {
      i {
        width: 16px;
        height: 16px;
        &:before {
          mask-size: 9px;
          -webkit-mask-size: 9px;

          width: 7px;
          height: 7px;
          margin: 4px auto 0;
        }
      }
      span {
        line-height: 16px;
        padding: 0 5px;
        &.change-count {
          line-height: 14px;
        }
      }
    }
  }

  .header-wrapper {
    padding-right: 7px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    // gap: 62px;
    font-size: 11px;
    top: 0;
    background: #2f3741 0% 0% no-repeat padding-box;

    .header-inner {
      display: flex;
      justify-content: left;
      align-items: center;
      width: 100%;
      height: 30px;
      background-color: #2f3741;
      border-radius: 2px 0px 0px 0px;
      padding: 0 10px;
      font-size: 11px;
      font-weight: 500;
      cursor: pointer;
      //   .header-back {
      //     display: flex;
      //     color: #b1b2b3;
      //     cursor: pointer;
      //     &::before {
      //       content: "";
      //       mask: url("../../images/icon-arrow-left.svg") no-repeat center center;
      //       -webkit-mask: url("../../images/icon-arrow-left.svg") no-repeat center
      //         center;

      //       width: 20px;
      //       height: 11px;
      //       background-color: #b1b2b3;
      //       margin: 2px;
      //     }
      //   }

      .breadcrumb {
        margin-left: 10px;

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;

          li {
            padding-left: 30px;
            position: relative;
            list-style-type: none;
            font-size: 11px;
            font-weight: 600;
            color: #fff;
            line-height: 14px;

            &:before {
              content: "";
              position: absolute;
              left: 0;
              width: 15px;
              height: 1px;
              border-radius: 5px;
              background-color: #fff;
              top: 50%;
              transform: translateY(-50%);
            }

            &:after {
              content: "";
              position: absolute;
              left: 15px;
              width: 6px;
              height: 6px;
              border-radius: 6px;
              background-color: #fff;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
    .header-other-functionality-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 13px;
      width: 100%;

      .header-close {
        display: block;
        width: 11px;
        height: 11px;
        mask: url("../../images/icon-close.svg") no-repeat center center;
        -webkit-mask: url("../../images/icon-close.svg") no-repeat center center;

        background: #b1b2b3;
      }
    }
  }

  #loader {
    top: 30px;
    position: absolute;
  }

  .create-wrapper {
    height: calc(100% - 115px);
    padding: 9px 15px;

    .title-main {
      font-size: 11px;
      color: #b1b2b3;
      padding-bottom: 5px;
    }
    .field-with-label {
      display: flex;
      position: relative;
      margin: 0 10px 10px 0;
      width: 100%;
      height: auto;
      border: 1px solid #87929d;
      border-radius: 2px;
      margin-top: 4px;
      .max-length {
        // float: right;
        // display: flex;
        font-size: 12px;
        color: #87929d;
        // margin-top: auto;
        // padding-bottom: 7px;
        //padding-right: 8px;
        // justify-content: flex-end;
        // align-items: flex-end;

        position: absolute;
        right: 6px;
        top: 11px;
      }

      textarea {
        background: transparent;
        width: 88%;
        height: 30px;
        padding: 6px 0;
        padding-left: 5px;
        resize: none;
        border: none;
        border-radius: 2px;
        color: #fff;
        line-height: 20px;

        ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          padding: 10px;
        }
      }

      > label {
        position: absolute;
        right: 15px;
        top: -11px;
        padding: 0 2px;
        border-radius: 2px;
        font-size: 10px;
        color: #fff;
        background-color: #232931;
        z-index: 1;
      }
      .field-block {
        display: inline-block;
        .field-control {
          width: 100%;
          padding: 0 8px;
          height: 30px;
          line-height: 30px;
          color: #fff;
          border-radius: 2px;
          background: transparent;
          border: none;

          :focus {
            outline: none;
          }
        }
      }

      .tag-box {
        position: relative;
        display: flex;
        display: inline-block;
        border-radius: 2px;
        padding: 0 16px 0 4px;
        background: #65696f;
        margin: 7px 0;
        margin-left: 6px;
        .tag-text {
          line-height: 18px;
          font-size: 10px;
          color: #fff;
        }
        .close-btn {
          position: absolute;
          right: 2px;
          top: 3px;
          background: #fff;
          padding: 0;
          width: 13px;
          height: 13px;
          mask: url("../../images/icon-close.svg") no-repeat center center;
          -webkit-mask: url("../../images/icon-close.svg") no-repeat center
            center;
          mask-size: 8px;
          -webkit-mask-size: 8px;
        }
      }
      textarea.field-control {
        height: 80px;
        line-height: 1.5;
        display: block;
        padding: 8px;
        :focus {
          outline: none;
        }
      }
    }

    .field-with-label:hover {
      cursor: text;
    }

    .field-with-label-description {
      textarea {
        height: 60px;
      }
      .max-length {
        top: 40px;
      }
    }
    .tags {
      position: relative;
      display: block !important;
    }

    .filter-wrapper {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 10px;

      .categories-wrapper {
        display: flex;
        align-items: center;
        justify-content: left;
        padding-bottom: 15px;

        .category {
          display: flex;
          align-items: center;
          height: 16px;
          margin-right: 15px;

          .react-speedselect-container {
            border: none !important;
            display: flex;
            position: relative;
            background-color: #333333;
            font-size: 11px;
            border-radius: 2px;
            .select-label-wrapper {
              // margin: 0 4px;
              // margin-top: 2px;
              // margin-bottom: 3px;
              height: 16px;
              max-width: fit-content;
              color: #fff;
              padding: 1px 8px;
            }
            .select-box-wrapper {
              background-color: #fff;
              border-radius: 0px 2px 2px 0px;
              height: 17px;
              .select-box {
                height: auto;
                background-color: transparent;
                padding: 2px !important;
                padding-right: 14px !important;
                border: none;
                &:hover {
                  background-color: transparent;
                }
                .label-wrapper {
                  .label {
                    color: #000000;
                    line-height: 13px;
                    text-transform: capitalize;
                    padding: 0 6px;
                  }
                }
                .dropdown-icon-wrapper {
                  display: block;
                  position: absolute;
                  right: 5px;
                  top: 5px;
                  width: 0;
                  height: 0;
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-top: 6px solid #202124;
                  div {
                    display: none;
                  }
                }
              }
              .select-dropdown {
                max-width: fit-content;
                position: absolute;
                max-width: 600px;
                width: 130px;
                left: 0 !important;
                min-width: calc(100% - 40px) !important;
                z-index: 9;
                border: none;
                border-radius: 2px;
                overflow: hidden;
                background: #364149;
                box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 45%);
                -webkit-box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 45%);
                -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.45);
                .options-wrapper {
                  background: #fff;
                  .options {
                    list-style-type: none;
                    padding-inline-start: 10px;
                    margin: 0px;
                    li {
                      padding: 2px 0;
                      label {
                        color: #000;
                        background-color: #fff;
                      }
                    }
                  }
                }
              }
            }
          }
          &:last-child {
            margin: 0;
          }
          .select-label-wrapper {
            background-color: #232931;
            color: #b1b2b3 !important;
            margin: 0;
            height: 0;
            padding: 0 8px;
          }

          .create-chat-room
            .react-speedselect-container
            .support-wrapper
            .react-speedselect-container {
            background-color: none;
          }

          .priority {
            margin-right: 0;
            padding: 0 5px;
            border-radius: 2px;
            height: 16px;
            background: #444444 0% 0% no-repeat padding-box;
          }
          label {
            padding: 0 5px;
            border-radius: 2px;
            background: #444444 0% 0% no-repeat padding-box;
            height: 16px;
            select {
              margin-left: 5px;
            }
          }
        }
      }
    }

    .record-wrapper {
     
      height: 314px;
      max-height: 314px;
      width: 421px;
      overflow: scroll;
      background: #1a1f26 0% 0% no-repeat padding-box;
      font-size: 11px;
      padding: 10px;
      .record-header {
        display: flex;
        align-items: center;
        .text {
          width: 60%;
          color: #b1b2b3;
        }
        .record-button {
          display: flex;
          .record {
            background: transparent;
            color: #fff;
            display: flex;

            &::before {
              content: "";
              mask: url("../../images/icon-record.svg") no-repeat center center;
              -webkit-mask: url("../../images/icon-record.svg") no-repeat center
                center;
              mask-size: 10px;
              -webkit-mask-size: 10px;

              width: 10px;
              height: 10px;
              background-color: #fff;
              margin: 3px 4px;
            }
          }

          .shot {
            background: transparent;
            color: #fff;
            display: flex;

            &::before {
              content: "";
              mask: url("../../images/icon-screenshot.svg") no-repeat center
                center;
              -webkit-mask: url("../../images/icon-screenshot.svg") no-repeat
                center center;
              mask-size: 10px;
              -webkit-mask-size: 10px;

              width: 10px;
              height: 10px;
              background-color: #fff;
              margin: 3px 4px;
            }
          }
        }
      }

      .video-content-wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        //gap: 10px;
        padding-top: 14px;
        width: 410px;
        .vid-content {
          margin-bottom: 10px;
          video,
          img {
            // max-width: 200px;
            // max-height: 100px;
            width: 200px;
            height: 120px;
            margin: 0;
          }
          .footer {
            display: flex;
            background: #232931;
            padding: 2px 2px;
            margin-top: -2px;
            margin-right: 14px;
            width: 100%;
            .id {
              width: 90%;
            }
            button {
              content: "Delete";
              mask: url("../../images/icon-delete.svg") no-repeat center center;
              mask-size: 10px;
              -webkit-mask-size: 10px;

              width: 10px;
              height: 10px;
              background-color: #fff;
              margin-left: -3px;
            }
          }
        }
      }
      .not-found {
        position: relative;
        top: 40%;
        left: 40%;
        color: #b1b2b3;
      }
    }

    .submit-wrapper {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 40px;
      padding: 0 15px;
      background: #2f3741 0% 0% no-repeat padding-box;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        margin: 0 10px 0 0;
        padding: 0 10px;
        border: none;
        font-size: 10px;
        height: 15px;
        border-radius: 2px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
      .start {
        background-color: #00bb5a;
      }
    }
  }
}
