#main-chat-container {

  .header-wrapper {
    padding-right: 7px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    font-size: 11px;
    top: 0;
    background: #2f3741 0% 0% no-repeat padding-box;
    max-height: 95.5%;

    .header-inner {
      display: flex;
      justify-content: left;
      align-items: center;
      width: 100%;
      height: 30px;
      background-color: #2f3741;
      border-radius: 2px 0px 0px 0px;
      padding: 0 10px;
      font-size: 11px;
      font-weight: 500;
      cursor: pointer;
      .header-back {
        display: flex;
        color: #b1b2b3;
        cursor: pointer;
        &::before {
          content: "";
          mask: url("../../images/icon-arrow-left.svg") no-repeat center center;
          -webkit-mask: url("../../images/icon-arrow-left.svg") no-repeat center
            center;

          width: 20px;
          height: 11px;
          background-color: #b1b2b3;
          margin: 2px;
        }
      }
    }
    .header-other-functionality-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 13px;
      width: 100%;
      background: transparent;

      .topic-filter-search-iassist {
        width: 210px;
        height: 20px;
        // margin-right: 5px;
        &:before {
          display: none;
        }

        .search {
          position: relative;
          width: 100%;
          max-width: 100%;
          display: flex;
          align-items: center;
          background: #000000 0% 0% no-repeat padding-box;
          border-radius: 2px;
          margin: 0;

          .btn {
            content: "";
            mask: url("../../images/icon-search.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-search.svg") no-repeat center
              center;

            min-width: 12px;
            width: 12px;
            height: 12px;
            background-color: #777777;
            display: block;
            margin: 0 7px;
          }

          input {
            background: transparent;
            border: none;
            padding: 0;
            line-height: 20px;
            width: 100%;
            color: #fff;
          }
        }
      }
      .author-list {
        display: flex;
        cursor: pointer;
        //gap: 4px;
        .add-icon-wrapper {
          background: #b1b2b3;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 2px;
          padding: 1px;
          .add-icon {
            content: "";
            mask: url("../../images/icon-plus-lite.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-plus-lite.svg") no-repeat
              center center;

            mask-size: 8px;
            -webkit-mask-size: 8px;

            width: 4px;
            height: 8px;
            background-color: #000000;
            margin: 0;
          }
        }
        img {
          border-radius: 2px;
          object-fit: cover;
          padding-right: 3px;
          margin: -3px 0;
        }
        .number {
          border-radius: 2px;
          padding: 3px;
          background-color: grey;
          font-size: 9px;
          width: 20px;
          height: 20px;
        }
      }

      .unread {
        padding: 0;
        padding-right: 0;
        border-radius: 3px;
        font-size: 11px;
        width: auto;
        //display: flex;
        justify-content: left;
        align-items: center;

        span {
          background-color: red;
          color: #fff;
          border-radius: 50%;
          font-size: 11px;
          padding: 0 5px;
          margin: 0;
          margin-right: 10px;
          margin-left: 5px;
          height: 12px;
          width: 12px;

          &:before,
          &:after {
            display: none;
          }
        }
      }
      .header-close {
        display: block;
        width: 11px;
        height: 11px;
        mask: url("../../images/icon-close.svg") no-repeat center center;
        -webkit-mask: url("../../images/icon-close.svg") no-repeat center center;

        background: #b1b2b3;
      }
    }
  }
  #loader {
    top: 30px;
    position: absolute;
  }

  .title-widget {
    font-size: 11px;
    padding: 10px;
    border-bottom: 1px solid rgb(117, 115, 115);
    position: relative;
    background: #232931 0% 0% no-repeat padding-box;
    z-index: 1;
    word-break: break-all;
    .name {
      padding: 4px 0;
      display: flex;
      cursor: pointer;
      .button {
        width: 12px;
        height: 12px;
        mask: url("../../images/icon-arrow-desc.svg") no-repeat center center;
        -webkit-mask: url("../../images/icon-arrow-desc.svg") no-repeat center
          center;

        background: #fff;
        margin: 1px 6px;
      }
      .full-button {
        transform: rotate((90deg));
      }
    }
    .description {
      color: #b1b2b3;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .full-description {
      white-space: normal;
    }
  }

  .chat-list-wrapper {
    width: 100%;
    // max-height: calc(100% - 140px);
    max-height: calc(100% - 190px);
    padding: 0 15px;
    // padding-top: 40px;
    position: absolute;
    //top: 21%;
    bottom: 75px;
    vertical-align: bottom;
    //scroll-behavior: smooth;
    overflow-y: scroll;

    .del-wrapper {
      .details {
        font-size: 11px;
      }
      .confirm-btn {
        color: #fff;
        background: #ff0000;
        margin: 10px;
        margin-left: 40px;
      }
      button {
        border-radius: 2px;
      }
    }
    .chat-wrapper {
      //border-left: 2px solid red;
      //overflow-y: scroll;
      //background: #1c2127 0% 0% no-repeat padding-box;
      background: transparent;
      margin: 10px 0;
      width: 100%;
      max-width: 100%;
      padding: 5px;

      .support-header {
        display: flex;
        position: relative;

        .support-header-left {
          // width: 90%;
          // display: flex;
          //align-items: center;
          width: 100%;
          display: grid;
          grid-template-columns: 2% 100% 1%;
          img {
            border-radius: 50%;
            //object-fit: cover;
            margin: -3px 5px;
            cursor: pointer;
          }
          .content-wrapper {
            margin-top: -2px;
            padding-left: 10px;
            margin-left: 13px;
            width: 100%;
            
            .steno-wrapper {
              .editor-fileList-wrapper{
                #steno-editor {
                  width: 100% !important;
                }
              }
            }

            .edit-btn {
              display: flex;
              align-items: end;
              width: 100%;
              justify-content: end;
              gap: 10px;
              margin-left: -10px;

              .cancel {
                display: flex;

                &::before {
                  content: "";
                  mask: url("../../images/icon-close-lite.svg") no-repeat center center;
                  -webkit-mask: url("../../images/icon-close-lite.svg") no-repeat center
                    center;
                  mask-size: 9px;
                  -webkit-mask-size: 9px;
    
                  width: 9px;
                  height: 9px;
                  background-color: #000;
                  margin: 4px 0;
                  margin-right: 3px;
                }
              }

              .save {
                background-color: #02BB5B;
                display: flex;

                &::before {
                  content: "";
                  mask: url("../../images/icon-save.svg") no-repeat center center;
                  -webkit-mask: url("../../images/icon-save.svg") no-repeat center
                    center;
                  mask-size: 10px;
                  -webkit-mask-size: 10px;
    
                  width: 10px;
                  height: 10px;
                  background-color: #000;
                  margin: 3px 0;
                  margin-right: 3px;
                }
              }
            }
            .card-label {
              color: #b1b2b3;
              border: 1px solid #b1b2b3;
              font-size: 9px;
              padding: 0 5px;
              //max-height: 11px;
            }
            .name {
              font-size: 12px;
              color: #fff;
              padding: 0 8px;
              text-transform: capitalize;
            }
            .time-zone {
              font-size: 10px;
              color: #8b8d90;
            }
            .content {
              padding: 6px 10px;
              font-size: 10px;
              overflow-y: auto;
              white-space: pre-line;
              word-break: break-all;

              p {
                margin: 0 !important;
              }
              .change-status {
                span {
                  color: #b1b2b3;
                  border: 1px solid #b1b2b3;
                  padding: 0 4px;
                  margin-left: 4px;
                  border-radius: 1px;
                }
              }
              .content-video {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .content-wrapper-media {
                  .wrapper-media {
                    position: relative;
                    video,
                    img {
                      //margin-bottom: 10px;
                      margin-top: 10px;
                      // max-width: 133px;
                      height: 78px;
                      width: 133px;
                      //height: 78px;
                      //padding-right: 11px;
                      border-radius: 1px;
                      object-fit: fill;
                      cursor: pointer;
                    }
                    .media-id {
                      padding-inline-start: 5px;
                    }
                  }
                }
              }
              .feedback {
                display: flex;
                gap: 10px;
                color: #b1b2b3;
                margin-top: 7px;
                li {
                  color: #ffffff;
                  //display: flex;
                  cursor: pointer;
                }
                .arrow {
                  display: block;
                  content: "";
                  mask: url("../../images/icon-down-arrow.svg") no-repeat center
                    center;
                  -webkit-mask: url("../../images/icon-down-arrow.svg")
                    no-repeat center center;
                  min-width: 10px;
                  width: 7px;
                  height: 9px;
                  background-color: #fff;
                  display: block;
                  margin: 3px -8px;
                  transform: rotate(-90deg);
                  cursor: pointer;
                }
                .rotate {
                  transform: rotate(0deg);
                }
              }
              .text {
                margin-top: 7px;
                color: #fff;
              }
            }
          }
        }
        .action-menu {
          position: absolute;
          top: 0;
          right: 0;

          cursor: pointer;
          align-items: flex-end;
          mask: url("../../images/icon-dots.svg") no-repeat center center;
          -webkit-mask: url("../../images/icon-dots.svg") no-repeat center
            center;

          background-color: #fff;
          mask-size: 12px;
          -webkit-mask-size: 12px;

          //transform: rotate(90deg);
          min-height: 16px;
        }

        .pane {
          position: absolute;
          padding: 5px 10px;
          right: 10px;
          background: #284469 0% 0% no-repeat padding-box;
          font-size: 10px;
          border-radius: 3px;
          z-index: 1;

          &:hover {
            cursor: pointer;
          }

          li {
            list-style: none;
            color: #fff;
            right: 10px;
            // padding: 5px;
          }
          > li:first-child {
            padding-top: 0;
          }
        }
      }
      .content {
        padding: 6px 10px;
        font-size: 10px;
        overflow-y: auto;
      }
      .reply-wrapper {
        display: flex;
        width: 100%;
        .header-reply {
          margin: 0 10px;
          ///display: flex;
          //align-items: center;
          width: 100%;
          // display: grid;
          // grid-template-columns: 2% 100% 1%;
          .reply-header-wrapper {
            // display: flex;
            // width: 100%;
            // gap: 5px;
            //align-items: center;
            margin: 5px 10px;
            ///display: flex;
            //align-items: center;
            width: 100%;
            display: grid;
            grid-template-columns: 5% 85% 1%;
            grid-gap: 10px;
            img {
              border-radius: 50%;
              object-fit: cover;
              margin: -3px 5px;
            }
            .reply-sub-wrapper {
              margin-top: -2px;
              margin-left: 5px;
              .name {
                font-size: 12px;
                color: #fff;
                padding: 0 5px;
                text-transform: capitalize;
              }
              .time-zone {
                font-size: 10px;
                color: #8b8d90;
              }
              .content-reply {
                padding: 5px 6px;
                font-size: 11px;
                overflow-y: auto;
                white-space: pre-line;
                word-break: break-all;

                p {
                  margin: 0 !important;
                }

                .content-video {
                  display: flex;
                  flex-wrap: wrap;
                  gap: 10px;
                  .content-wrapper-media {
                    .wrapper-media {
                      position: relative;
                      video,
                      img {
                        //margin-bottom: 10px;
                        margin-top: 10px;
                        // max-width: 133px;
                        //max-height: 78px;
                        width: 133px;
                        height: 78px;
                        //padding-right: 11px;
                        border-radius: 1px;
                        object-fit: fill;
                        cursor: pointer;
                      }
                      .media-id {
                        padding-inline-start: 5px;
                      }
                    }
                  }
                }
              }
            }
          }

          .panes {
            position: absolute;
            padding: 5px 10px;
            right: 10px;
            z-index: 1;
            background: #344a58;
            font-size: 11px;
            border-radius: 3px;
            li {
              list-style: none;
              color: #fff;
              right: 10px;
              //padding: 5px;
            }
            > li:first-child {
              padding-top: 0;
            }
          }
        }
        .dot {
          button {
            cursor: pointer;
            align-items: flex-end;
            //margin-left:60px;
            mask: url("../../images/icon-dots.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-dots.svg") no-repeat center
              center;

            background-color: #fff;
            mask-size: 12px;
            -webkit-mask-size: 12px;

            //transform: rotate(90deg);
            min-height: 16px;
          }
        }
      }
      .reply-image {
        display: flex;
        align-items: center;
        margin-left: 20px;
      }
      .topic-filter-search-iassist {
        &:before {
          display: none;
        }
        margin-right: 0;

        .search {
          position: relative;
          width: 100%;
          max-width: 325px;
          display: flex;
          align-items: center;
          width: 340px;
          background: #000000 0% 0% no-repeat padding-box;
          margin: 10px;
          border-radius: 3px;
          box-shadow: -3px 0px 3px #00000040;
          .steno-wrapper {
            width: 95%;
            .editor-fileList-wrapper {
              margin: 0 !important;
              font-size: 10px;
            }
          }
          .rply-btn {
            cursor: pointer;
            content: "";
            mask: url("../../images/icon-notes-copy.svg") no-repeat center
              center;
            -webkit-mask: url("../../images/icon-notes-copy.svg") no-repeat
              center center;
            min-width: 12px;
            width: 12px;
            height: 12px;
            background-color: #777777;
            display: block;
            margin: 0 7px;
          }

          input,
          textarea {
            background: transparent;
            border: none;
            padding: 0;
            min-height: 30px;
            padding-left: 6px;
            line-height: 20px;
            width: 100%;
            color: #fff;
            font-size: 11px;
            resize: none;
          }
          input:focus {
            outline: none;
          }
        }
      }
    }
  }

  .delete-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15%;
  }

  .message {
    position: absolute;
    bottom: 0;
    margin: 10px;
    width: 95%;
    background: #000000;
    .topic-filter-search-iassist {
      &:before {
        display: none;
      }
      .search {
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-start;
        border-radius: 3px;
        margin-top: 10px;

        .steno-wrapper {
          width: 95%;
          .editor-fileList-wrapper {
            margin: 0 !important;
            font-size: 10px;
          }
        }
        .send {
          cursor: pointer;
          content: "";
          mask: url("../../images/icon-send.svg") no-repeat center center;
          -webkit-mask: url("../../images/icon-send.svg") no-repeat center
            center;

          min-width: 12px;
          width: 12px;
          height: 16px;
          background-color: #fff;
          display: block;
          margin: 0 7px;
        }
        .sends {
          background-color: green;
          color: #fff;
          border-radius: 2px;
          margin-right: 3px;
        }

        .cancel {
          background-color: red;
          color: #fff;
          border-radius: 2px;
          margin-right: 3px;
        }

        input,
        textarea {
          background: #000000;
          border: none;
          margin: 5px 10px;
          line-height: 20px;
          width: 100%;
          color: #fff;
          border-radius: 3px;
          resize: none;
        }
        input:focus {
          outline: none;
        }
      }
    }

    .bottom-wrapper {
      display: flex;
      align-items: center;
      padding: 10px 0;
      padding-top: 0;
      position: relative;
      .wrap-record {
        width: 80%;
      }
      .screen-wrapper {
        position: absolute;
        top: -35px;
        left: 7px;
        background: #f4f4f4;
        color: #000;
        font-size: 11px;
        width: 170px;
        padding: 4px 10px;
        border-radius: 2px;
        cursor: pointer;
        .screen-record {
          background: transparent;
          //color: #fff;
          display: flex;

          &::before {
            content: "";
            mask: url("../../images/icon-record-filled.svg") no-repeat center
              center;
            -webkit-mask: url("../../images/icon-record-filled.svg") no-repeat
              center center;
            mask-size: 10px;
            -webkit-mask-size: 10px;

            width: 10px;
            height: 10px;
            background-color: #000;
            margin: 3px 4px;
          }
        }

        .screen-shot {
          background: transparent;
          //color: #fff;
          display: flex;

          &::before {
            content: "";
            mask: url("../../images/icon-screenshot-filled.svg") no-repeat
              center center;
            -webkit-mask: url("../../images/icon-screenshot-filled.svg")
              no-repeat center center;
            mask-size: 10px;
            -webkit-mask-size: 10px;

            width: 10px;
            height: 10px;
            background-color: #000;
            margin: 3px 4px;
          }
        }
      }

      .add-btn {
        width: 80%;
        button {
          cursor: pointer;
          content: "";
          mask: url("../../images/icon-plus.svg") no-repeat center center;
          -webkit-mask: url("../../images/icon-plus.svg") no-repeat center
            center;
          min-width: 12px;
          width: 17px;
          height: 17px;
          background-color: #b1b2b3;
          display: block;
          margin: 0 7px;
          border-radius: 50%;
        }
      }
      .close-btn {
        //background: #00BB5A;
        background: transparent;
        color: #00bb5a;
        //margin-bottom: 10px;
        margin-right: 5px;
        margin-top: 12px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 10px;
        gap: 4px;
        cursor: pointer;

        button {
          content: "";
          mask: url("../../images/icon-run.svg") no-repeat center center;
          -webkit-mask: url("../../images/icon-run.svg") no-repeat center center;

          mask-size: 10px;
          -webkit-mask-size: 10px;

          width: 10px;
          height: 10px;
          background-color: #fff;
          margin-left: -3px;
        }
      }
      .open-btn {
        //background: #00BB5A;
        background: transparent;
        color: #00bb5a;
        //margin-bottom: 10px;
        margin-right: 5px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 10px;
        gap: 4px;
        cursor: pointer;

        button {
          content: "";
          mask: url("../../images/icon-run.svg") no-repeat center center;
          -webkit-mask: url("../../images/icon-run.svg") no-repeat center center;
          mask-size: 10px;
          -webkit-mask-size: 10px;

          width: 10px;
          height: 10px;
          background-color: #fff;
          margin-left: -3px;
        }
      }
      .delete-btn {
        background: transparent;
        color: #ff0000;
        //margin-bottom: 10px;
        margin-right: 5px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 10px;
        gap: 4px;
        cursor: pointer;

        button {
          content: "";
          mask: url("../../images/icon-delete.svg") no-repeat center center;
          -webkit-mask: url("../../images/icon-delete.svg") no-repeat center
            center;

          mask-size: 10px;
          -webkit-mask-size: 10px;

          width: 10px;
          height: 10px;
          background-color: #fff;
          margin-left: -3px;
        }
      }
    }
  }
}
