#test-div{#support-main-conatiner{

  .support-wrapper
   {
    width: 450px;
    position: fixed;
    top: 35px;
    bottom: 5px;
    right: 0;
    overflow: hidden;
    background: #232931 0% 0% no-repeat padding-box;
    font-size: 16px;
    color: #fff;
    border-radius: 2px 0px 0px 2px;
    text-align: left;
    //overflow-y: scroll;
    z-index: 100000;
    max-height: 95.5%;
  
    .support-wrapper-inner {
      overflow-y: scroll;
      position: relative;
      height: 99%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
  
  
      .header-wrapper {
        padding-right: 7px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 1;
        // gap: 62px;
        font-size: 11px;
        top: 0;
        background: #2f3741 0% 0% no-repeat padding-box;
        #loader {
          top: 30px;
          position: absolute;
        }
        .breadcrumb {
          margin-left: 10px;
    
          ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
    
            li {
              padding-left: 30px;
              position: relative;
              list-style-type: none;
              font-size: 11px;
              font-weight: 600;
              color: #fff;
              line-height: 14px;
    
              &:before {
                content: "";
                position: absolute;
                left: 0;
                width: 15px;
                height: 1px;
                border-radius: 5px;
                background-color: #fff;
                top: 50%;
                transform: translateY(-50%);
              }
    
              &:after {
                content: "";
                position: absolute;
                left: 15px;
                width: 6px;
                height: 6px;
                border-radius: 6px;
                background-color: #fff;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
        .header-inner {
          display: flex;
          justify-content: left;
          align-items: center;
          width: 100%;
          height: 30px;
          background-color: #2f3741;
          border-radius: 2px 0px 0px 0px;
          padding: 0 10px;
          font-size: 11px;
          font-weight: 500;
          cursor: pointer;
          .header-back {
            display: flex;
            color: #b1b2b3;
            cursor: pointer;
            &::before {
              content: "";
              mask: url("../../images/icon-arrow-left.svg") no-repeat center center;
              -webkit-mask: url("../../images/icon-arrow-left.svg") no-repeat center
                center;
    
              width: 20px;
              height: 11px;
              background-color: #b1b2b3;
              margin: 2px;
            }
          }
        }
        .header-other-functionality-wrapper {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 13px;
          width: 100%;
          background: transparent;
          .filter-btn {
            .button {
              content: "";
              mask: url("../../images/icon-filters.svg") no-repeat center center;
              -webkit-mask: url("../../images/icon-filters.svg") no-repeat center
                center;
    
              min-width: 12px;
              width: 12px;
              height: 12px;
              background-color: #b1b2b3;
              display: block;
              //   margin: 0 7px;
              cursor: pointer;
            }
            .button-select {
              background: blue;
            }
          }
    
          .filter-bg {
            background: #fff;
            padding: 3px;
          }
    
          .topic-filter-search-iassist {
            width: 210px;
            height: 20px;
            // margin-right: 5px;
            &:before {
              display: none;
            }
    
            .search {
              position: relative;
              width: 100%;
              max-width: 100%;
              display: flex;
              align-items: center;
              background: #000000 0% 0% no-repeat padding-box;
              border-radius: 2px;
              margin: 0;
    
              .btn {
                content: "";
                mask: url("../../images/icon-search.svg") no-repeat center center;
                -webkit-mask: url("../../images/icon-search.svg") no-repeat center
                  center;
    
                min-width: 12px;
                width: 12px;
                height: 12px;
                background-color: #777777;
                display: block;
                margin: 0 7px;
              }
    
              input {
                background: transparent;
                border: none;
                padding: 0;
                line-height: 20px;
                width: 100%;
                color: #fff;
              }
            }
          }
          .author-list {
            display: flex;
            cursor: pointer;
            //gap: 4px;
            .add-icon-wrapper {
              background: #b1b2b3;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 2px;
              padding: 1px;
              .add-icon {
                content: "";
                mask: url("../../images/icon-plus-lite.svg") no-repeat center center;
                -webkit-mask: url("../../images/icon-plus-lite.svg") no-repeat
                  center center;
    
                mask-size: 8px;
                -webkit-mask-size: 8px;
    
                width: 4px;
                height: 8px;
                background-color: #000000;
                margin: 0;
              }
            }
            img {
              border-radius: 2px;
              object-fit: cover;
              padding-right: 3px;
              margin: -3px 0;
            }
            .number {
              border-radius: 2px;
              padding: 3px;
              background-color: grey;
              font-size: 9px;
              width: 20px;
              height: 20px;
            }
          }
          .btn-new-topic-wrapper {
            &:before {
              display: none;
            }
    
            button {
              display: flex;
              align-items: center;
              width: 55px;
              height: 16px;
              position: relative;
              cursor: pointer;
              border: none;
              background: #ffffff 0% 0% no-repeat padding-box;
              border-radius: 2px;
              padding: 0 5px 0 0;
    
              .add-new-ticket {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                background: #00000033;
                margin-right: 4px;
    
                &::before {
                  content: "";
                  mask: url("../../images/icon-plus-lite.svg") no-repeat center
                    center;
                  -webkit-mask: url("../../images/icon-plus-lite.svg") no-repeat
                    center center;
                  width: 8px;
                  height: 8px;
                  background-color: #000000;
                  margin: 0;
                }
              }
            }
    
            .list {
              width: 100%;
              display: flex;
              align-items: center;
              width: 50px;
              background: #efefef 0% 0% no-repeat padding-box;
              border-radius: 2px;
    
              input {
                background: transparent;
                border: none;
                padding: 0;
                line-height: 20px;
                width: 100%;
              }
            }
          }
          label {
            position: relative;
            padding-left: 28px;
            margin: 0 10px;
    
            &:before,
            &:after {
              content: "";
              position: absolute;
              background-color: #fff;
              top: 50%;
              transform: translateY(-50%);
              margin-top: 1px;
            }
            &:before {
              left: 0;
              width: 15px;
              height: 1px;
              border-radius: 5px;
            }
            &:after {
              left: 15px;
              width: 6px;
              height: 6px;
              border-radius: 6px;
            }
          }
          .unread {
            padding: 0;
            padding-right: 0;
            border-radius: 3px;
            font-size: 11px;
            width: auto;
            //display: flex;
            justify-content: left;
            align-items: center;
    
            span {
              background-color: red;
              color: #fff;
              border-radius: 50%;
              font-size: 11px;
              padding: 0 5px;
              margin: 0;
              margin-right: 10px;
              margin-left: 5px;
              height: 12px;
              width: 12px;
    
              &:before,
              &:after {
                display: none;
              }
            }
          }
          .header-close {
            display: block;
            width: 11px;
            height: 11px;
            mask: url("../../images/icon-close.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-close.svg") no-repeat center center;
    
            background: #b1b2b3;
          }
        }
      }
  
      .sub-header-wrapper {
        // position: sticky;
        // top: 30px;
        // padding-top: 30px;
        padding: 7px 0;
        font-size: 11px;
        display: flex;
        gap: 14px;
        border-bottom: 1px solid #f0c9c940;
        .calendar-wrapper {
          margin-left: 15px;
          //display: flex;
          align-items: center;
          //top: 20px;
          &::before {
            display: none;
          }
    
          .period-picker {
            position: absolute;
            background: #1a1f26;
            z-index: 1;
          }
    
          .asc-picker-header {
            display: flex !important;
            margin-left: 0 !important;
            button {
              position: initial;
            }
            .asc-picker-header-view {
              padding-top: 0 !important;
            }
          }
          .asc-date-picker,
          .asc-date-picker *,
          .asc-date-picker *::before,
          .asc-date-picker *::after {
            font-size: 12px;
            padding: 3px;
          }
          .calendar-wrapper-separator {
            display: flex;
            align-items: center;
            .calendar {
              max-width: 160px;
              font-size: 14px;
              border: none;
            }
    
            input[type="date"]::-webkit-calendar-picker-indicator {
              color: transparent;
              cursor: pointer;
              position: absolute;
              width: 110px;
              background: url("../../images/icon-calendar-1.svg") no-repeat right;
            }
    
            .button-calendar {
              width: 14.7px;
              height: 14px;
              font-size: 14px;
              border: none;
              padding: 0;
              cursor: pointer;
              position: relative;
              background: url("../../images/icon-calendar-1.svg") no-repeat right;
              display: block;
              padding-left: 25px;
            }
          }
        }
    
        .type,
        .reporter {
          font-size: 11px;
         
        }
    
        .clear {
          background: transparent;
          color: rgb(51, 143, 230);
          font-size: 12px;
        }
    
        .unread-button-wrapper {
          background-color: #9b9b9b29;
          border-radius: 2px;
        }
        .unselected {
          background-color: none;
        }
      }
  
      .filter-wrapper {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px;
        height: 20px;
        //padding: 10px;
    
        .tab-preview {
          font-size: 11px;
          cursor: pointer;
          border: 1px solid #6c757d;
          border-radius: 2px;
          span,
          button {
            padding: 2px 10px;
            // border: 1px solid #6c757d;
            // border-radius: 2px;
            background: transparent;
            color: #fff;
            height: inherit;
          }
  
        }
    
        .topic-filter-seach-iassist {
          width: 210px;
          height: 20px;
          margin-right: 5px;
          &:before {
            display: none;
          }
    
          .search {
            position: relative;
            width: 100%;
            max-width: 100%;
            display: flex;
            align-items: center;
            background: #000000 0% 0% no-repeat padding-box;
            border-radius: 2px;
            margin: 0;
    
            .btn {
              content: "";
              mask: url("../../images/icon-search.svg") no-repeat center center;
              -webkit-mask: url("../../images/icon-search.svg") no-repeat center
                center;
    
              min-width: 12px;
              width: 12px;
              height: 12px;
              background-color: #777777;
              display: block;
              margin: 0 7px;
            }
    
            input {
              background: transparent;
              border: none;
              padding: 0;
              line-height: 20px;
              width: 100%;
              color: #fff;
            }
          }
        }
    
        .status {
          font-size: 11px;
          font-weight: 500;
          background: #232931 0% 0% no-repeat padding-box;
          margin-right: 10px;
    
          
        }
    
        .categories-wrapper {
          display: flex;
          align-items: center;
          justify-content: left;
          padding-bottom: 15px;
    
          .category {
            display: flex;
            align-items: center;
            height: 16px;
            margin-right: 15px;
    
            &:last-child {
              margin: 0;
            }
            .select-label-wrapper {
              background-color: #232931;
              color: #b1b2b3 !important;
              margin: 0;
              height: 0;
              padding: 0 8px;
            }
    
            // .select-box {
            //   height: 16px;
            //   background-color: #232931;
            //   color: #fff;
    
            //   .dropdown-icon-wrapper {
            //     color: #fff;
            //     border-top-color: #fff;
            //   }
            // }
    
            .create-chat-room
              .react-speedselect-container
              .support-wrapper
              .react-speedselect-container {
              background-color: none;
            }
    
            .priority {
              margin-right: 0;
              padding: 0 5px;
              border-radius: 2px;
              height: 16px;
              background: #444444 0% 0% no-repeat padding-box;
            }
            label {
              padding: 0 5px;
              border-radius: 2px;
              background: #444444 0% 0% no-repeat padding-box;
              height: 16px;
              select {
                margin-left: 5px;
              }
            }
          }
        }
      }
  
      .support {
        padding: 0 10px;
      }
      .topic-list-test {
        height: calc(100% - 95px) !important;
      }
      .topic-list {
        overflow-y: scroll;
        height: calc(100% - 74px);
        .no-record {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 12px;
          color: red;
        }
        .topic {
          position: relative;
          margin: 10px 8px;
          //   padding: 7px 10px;
          background: #1a1f26;
          font-size: 11px;
          display: flex;
          flex-direction: column;
          gap: 3px;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
    
          .topic-header {
            padding: 7px 10px;
    
            margin-bottom: 8px;
            position: relative;
            //text-transform: capitalize;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 3px;
            word-break: break-all;
            .topic-header-inner {
              display: flex;
              width: 100%;
              justify-content: space-between;
              .topic-name {
                width: 90%;
                color: #a79f9f;
                span {
                  color: #fff;
                  font-weight: 600;
                }
              }
              .topic-chat-notify {
                cursor: pointer;
                mask: url("../../images/icon-message.svg") no-repeat center center;
                -webkit-mask: url("../../images/icon-message.svg") no-repeat center
                  center;
    
                min-width: 12px;
                mask-size: 12px;
                -webkit-mask-size: 12px;
    
                width: 12px;
                height: 12px;
                background-color: #b1b2b3;
              }
              .topic-chat-notify-layer {
                background-color: red;
                position: absolute;
                width: 6px;
                height: 6px;
                // margin-left: 8px;
                border-radius: 50%;
                right: 7px;
                top: 5px;
              }
            }
            .topic-description {
              font-size: 11px;
              padding-top: 4px;
              color: #b1b2b3;
              //   text-overflow: ellipsis;
              //   overflow: hidden;
              //   white-space: nowrap;
            }
    
            .option-btn {
              position: absolute;
              top: 0;
              right: 0;
    
              .option {
                cursor: pointer;
                mask: url("../../images/icon-dots.svg") no-repeat center center;
                -webkit-mask: url("../../images/icon-dots.svg") no-repeat center
                  center;
                min-width: 12px;
                mask-size: 12px;
                -webkit-mask-size: 12px;
    
                width: 12px;
                height: 12px;
                background-color: #fff;
                transform: rotate(90deg);
              }
            }
          }
    
          .header-meta-divider {
            height: 0.5px;
            background-color: #646464;
            width: 100%;
          }
          .topic-meta {
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            padding: 7px 10px;
    
            .topic-buttons {
              display: flex;
    
              .reopen {
                // background: #FFA500;
                background: transparent;
                color: #ffa500;
                // margin-bottom: 10px;
                margin-right: 5px;
                border-radius: 2px;
                display: flex;
                align-items: center;
                gap: 3px;
                cursor: pointer;
    
                &::before {
                  content: "";
                  mask: url("../../images/icon-reopen.svg") no-repeat center center;
                  -webkit-mask: url("../../images/icon-reopen.svg") no-repeat center
                    center;
                  mask-size: 10px;
                  -webkit-mask-size: 10px;
    
                  width: 10px;
                  height: 10px;
                  background-color: #fff;
                  margin-left: -3px;
                }
              }
    
              .resolved {
                //background: #00BB5A;
                background: transparent;
                color: #00bb5a;
                //margin-bottom: 10px;
                margin-right: 5px;
                border-radius: 2px;
                display: flex;
                align-items: center;
                font-size: 10px;
                gap: 4px;
                cursor: pointer;
    
                &::before {
                  content: "";
                  mask: url("../../images/icon-run.svg") no-repeat center center;
                  -webkit-mask: url("../../images/icon-run.svg") no-repeat center
                    center;
                  mask-size: 10px;
                  -webkit-mask-size: 10px;
    
                  width: 10px;
                  height: 10px;
                  background-color: #fff;
                  margin-left: -3px;
                }
              }
    
              .delete {
                display: flex;
                align-items: center;
                gap: 3px;
                font-size: 10px;
                margin: 0 5px;
                // margin-bottom: 10px;
                //background: #FF0000;
                background: transparent;
                color: #ff0000;
                border-radius: 2px;
                cursor: pointer;
                &::before {
                  content: "";
                  mask: url("../../images/icon-delete.svg") no-repeat center center;
                  -webkit-mask: url("../../images/icon-delete.svg") no-repeat center
                    center;
    
                  mask-size: 10px;
                  -webkit-mask-size: 10px;
    
                  width: 10px;
                  height: 10px;
                  background-color: #fff;
                  margin: 0;
                }
              }
            }
    
            .info {
              color: #a79f9f;
              span {
                color: #fff;
              }
            }
          }
        }
      }
    }
  
    .react-speedselect-container {
      border: none !important;
      display: flex;
      position: relative;
      background-color: #333333;
      font-size: 11px;
      border-radius: 2px;
      .select-label-wrapper {
        // margin: 0 4px;
        // margin-top: 2px;
        // margin-bottom: 3px;
        height: 16px;
        max-width: fit-content;
        color: #fff;
        padding: 1px 8px;
      }
      .select-box-wrapper {
        background-color: #fff;
        border-radius: 0px 2px 2px 0px;
        height: 17px;
        .select-box {
          height: auto;
          background-color: transparent;
          padding: 2px !important;
          padding-right: 14px !important;
          border: none;
          &:hover {
            background-color: transparent;
          }
          .label-wrapper {
            .label {
              color: #000000;
              line-height: 13px;
              text-transform: capitalize;
              padding: 0 6px;
            }
          }
          .dropdown-icon-wrapper {
            display: block;
            position: absolute;
            right: 5px;
            top: 5px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 6px solid #202124;
            div {
              display: none;
            }
          }
        }
        .select-dropdown {
          max-width: fit-content;
          position: absolute;
          max-width: 600px;
          width: 130px;
          left: 0 !important;
          min-width: calc(100% - 40px) !important;
          z-index: 9;
          border: none;
          border-radius: 2px;
          overflow: hidden;
          background: #364149;
          box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 45%);
          -webkit-box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 45%);
          -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.45);
          .options-wrapper {
            background: #fff;
            .options {
              list-style-type: none;
              padding-inline-start: 10px;
              margin: 0px;
              li {
                padding: 2px 0;
                label {
                  color: #000;
                  background-color: #fff;
                }
              }
            }
          }
        }
      }
    }
  
    .btn-with-icon {
      display: block;
      position: relative;
      padding: 0 !important;
      outline: none;
      color: #000;
      //text-transform: capitalize;
      cursor: pointer;
      background: #000;
      border: none;
      border-radius: 2px;
      display: flex;
      transition: var(--transition);
  
      &:hover {
        opacity: 0.7;
      }
  
      i {
        background: rgba(0, 0, 0, 0.2);
        width: 20px;
        height: 20px;
        border-radius: 2px 0 0 2px;
        &:before {
          background: #000;
          content: "";
          display: block;
          margin: 5px auto 0;
          width: 10px;
          height: 10px;
        }
      }
      span {
        padding: 0 5px;
        line-height: 20px;
        text-align: center;
        white-space: nowrap;
      }
  
      &.btn-cancel-white {
        background: #fff;
        color: #000;
  
        i {
          &:before {
            -webkit-mask: url("../../images/icon-close.svg") no-repeat center
              center;
            mask: url("../../images/icon-close.svg") no-repeat center center;
            mask-size: 10px;
            -webkit-mask-size: 10px;
  
            background-color: #000;
          }
        }
      }
  
      &.btn-approve {
        background: #23c968;
        color: #fff;
        i {
          &:before {
            -webkit-mask: url("../../images/icon-run.svg") no-repeat center center;
  
            mask: url("../../images/icon-run.svg") no-repeat center center;
            mask-size: 10px;
            -webkit-mask-size: 10px;
            background-color: #000;
            //   font-weight: 500;
          }
        }
        span {
          color: #000;
        }
      }
  
      &.btn-small {
        i {
          width: 16px;
          height: 16px;
          &:before {
            mask-size: 9px;
            -webkit-mask-size: 9px;
  
            width: 7px;
            height: 7px;
            margin: 4px auto 0;
          }
        }
        span {
          line-height: 16px;
          padding: 0 5px;
          &.change-count {
            line-height: 14px;
          }
        }
      }
    }
    // .react-speedselect-container {
    //   .select-dropdown {
    //     .options {
    //       padding: 5px 0;
    //       li {
    //         padding: 5px 10px;
    //         label {
    //           height: auto !important;
    //           padding: 0;
    //           line-height: 1.3;
    //           background: none !important;
    //         }
    //         &:hover {
    //           background: #efefef;
    //         }
    //       }
    //     }
    //   }
    // }
  
  
   
  
    // .title-widget {
    //   font-size: 11px;
    //   padding: 10px;
    //   border-bottom: 1px solid rgb(117, 115, 115);
    //   position: relative;
    //   background: #232931 0% 0% no-repeat padding-box;
    //   z-index: 1;
    //   word-break: break-all;
    //   .name {
    //     padding: 4px 0;
    //     display: flex;
    //     cursor: pointer;
    //     .button {
    //       width: 12px;
    //       height: 12px;
    //       mask: url("../../images/icon-arrow-desc.svg") no-repeat center center;
    //       -webkit-mask: url("../../images/icon-arrow-desc.svg") no-repeat center
    //         center;
  
    //       background: #fff;
    //       margin: 1px 6px;
    //     }
    //     .full-button {
    //       transform: rotate((90deg));
    //     }
    //   }
    //   .description {
    //     color: #b1b2b3;
    //     text-overflow: ellipsis;
    //     overflow: hidden;
    //     white-space: nowrap;
    //   }
    //   .full-description {
    //     white-space: normal;
    //   }
    // }
  
    
  
    // Topics list on first screen
    
  
    .context-menu {
      position: absolute;
      top: 2px;
      right: 0;
      padding: 5px;
      min-width: 55px;
      background: #fff;
      border-radius: 2px;
      color: #000000;
      cursor: pointer;
      z-index: 1;
  
      li {
        padding: 5px 0;
        list-style-type: none;
        font-size: 11px;
        color: #000000;
  
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  
    .replied {
      font-size: 11px;
      padding-left: 6px;
      padding-top: 5px;
      display: flex;
      .num {
        font-size: 11px;
        color: red;
      }
      cursor: pointer;
      .reply-arrow {
        background: transparent;
        color: #fff;
        display: flex;
        font-size: 11px;
  
        &::after {
          content: "";
          mask: url("../../images/icon-down-arrow.svg") no-repeat center center;
          -webkit-mask: url("../../images/icon-down-arrow.svg") no-repeat center
            center;
          mask-size: 9px;
          -webkit-mask-size: 9px;
  
          width: 10px;
          height: 10px;
          background-color: #fff;
          margin: 4px 1px;
          transform: rotate(-90deg);
        }
      }
  
      .reply-rotate {
        &::after {
          margin: 3px 4px;
          transform: rotate(0deg);
        }
      }
    }
  
    .create-wrapper {
      height: calc(100% - 115px);
      // overflow-y: scroll;
      padding: 9px 15px;
  
      .title-main {
        font-size: 11px;
        color: #b1b2b3;
        padding-bottom: 5px;
      }
      .field-with-label {
        display: flex;
        position: relative;
        margin: 0 10px 10px 0;
        width: 100%;
        height: auto;
        border: 1px solid #87929d;
        border-radius: 2px;
        margin-top: 4px;
        .max-length {
          // float: right;
          // display: flex;
          font-size: 12px;
          color: #87929d;
          // margin-top: auto;
          // padding-bottom: 7px;
          //padding-right: 8px;
          // justify-content: flex-end;
          // align-items: flex-end;
  
          position: absolute;
          right: 6px;
          top: 11px;
        }
        //   .description {
        //     //margin: auto;
        //   }
        textarea {
          background: transparent;
          width: 88%;
          height: 30px;
          padding: 6px 0;
          padding-left: 5px;
          resize: none;
          border: none;
          border-radius: 2px;
          color: #fff;
          line-height: 20px;
  
          ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            padding: 10px;
          }
        }
  
        > label {
          position: absolute;
          right: 15px;
          top: -11px;
          padding: 0 2px;
          border-radius: 2px;
          font-size: 10px;
          color: #fff;
          background-color: #232931;
          z-index: 1;
        }
        .field-block {
          display: inline-block;
          .field-control {
            width: 100%;
            padding: 0 8px;
            height: 30px;
            line-height: 30px;
            color: #fff;
            border-radius: 2px;
            background: transparent;
            border: none;
  
            :focus {
              outline: none;
            }
          }
        }
  
        .tag-box {
          position: relative;
          display: flex;
          display: inline-block;
          border-radius: 2px;
          padding: 0 16px 0 4px;
          background: #65696f;
          margin: 7px 0;
          margin-left: 6px;
          .tag-text {
            line-height: 18px;
            font-size: 10px;
            color: #fff;
          }
          .close-btn {
            position: absolute;
            right: 2px;
            top: 3px;
            background: #fff;
            padding: 0;
            width: 13px;
            height: 13px;
            mask: url("../../images/icon-close.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-close.svg") no-repeat center
              center;
            mask-size: 8px;
            -webkit-mask-size: 8px;
          }
        }
        textarea.field-control {
          height: 80px;
          line-height: 1.5;
          display: block;
          padding: 8px;
          :focus {
            outline: none;
          }
        }
      }
  
      .field-with-label:hover {
        cursor: text;
      }
  
      .field-with-label-description {
        textarea {
          height: 60px;
        }
        .max-length {
          top: 40px;
        }
      }
      .tags {
        position: relative;
        display: block !important;
      }
  
      .widget {
        //background: #000000;
        padding: 10px;
        margin: 0 0 15px 0;
        border-radius: 2px;
        font-size: 11px;
        border-top: 1px solid #6b6767;
  
        .widget-header {
          display: flex;
          justify-content: left;
          align-items: center;
          padding: 0;
          position: relative;
  
          h4 {
            margin: 0;
            padding: 0;
            margin-right: 10px;
          }
          .selected-users {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 14px;
            font-size: 11px;
            padding: 0 5px;
            background: #404040;
            border-radius: 2px;
  
            span {
              display: inline-block;
              color: #18ff1c;
              margin: 0 0 0 5px;
            }
          }
          .search-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            width: 160px;
            height: 16px;
            background: #111111;
            border-radius: 2px;
            // align-content: flex-end;
  
            &:before {
              display: none;
            }
  
            .search {
              position: relative;
              width: 100%;
              max-width: 160px;
              display: flex;
              align-items: center;
              width: 250px;
              background: #111111;
              border-radius: 2px;
              box-shadow: -3px 0px 3px #00000040;
  
              .before {
                content: "";
                mask: url("../../images/icon-search.svg") no-repeat center center;
                -webkit-mask: url("../../images/icon-search.svg") no-repeat center
                  center;
                min-width: 12px;
                width: 12px;
                height: 12px;
                background-color: #777777;
                display: block;
                margin: 0 7px;
              }
  
              input {
                background: transparent;
                border: none;
                padding: 0;
                line-height: 20px;
                width: 100%;
                color: #ffffff;
              }
            }
          }
        }
  
        .widget-content {
          margin-top: 10px;
          // .users-list {
          // }
  
          .auth-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
  
            label {
              display: flex;
              align-items: center;
              justify-content: left;
              margin-right: 5px;
            }
          }
        }
  
        &.textarea {
          width: 100%;
          height: 150px;
          border-radius: 2px;
          padding: 0;
  
          textarea {
            background: #000;
            width: 100%;
            height: 100%;
            padding: 10px;
            resize: none;
            border: none;
            border-radius: 2px;
            color: #fff;
  
            ::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              padding: 10px;
            }
          }
        }
      }
  
      .edit-user-wrapper {
        .members {
          font-size: 11px;
          font-weight: 700;
        }
        .edit-user {
          .card {
            margin: 10px;
            padding: 10px;
            background: #232931;
            border-radius: 3px;
  
            .card-name-wrapper {
              display: flex;
              width: 100%;
              font-size: 14px;
              .nav-clicks {
                position: absolute;
                background: #fff;
                color: #000000;
                padding: 10px;
                top: auto;
                right: 20px;
                border-radius: 3px;
                li {
                  color: #000000;
                  list-style-type: none;
                  font-size: 10px;
                  padding: 4px 0;
                  cursor: pointer;
                }
                // > li:first-child {
                //   padding-top: 0;
                // }
                > li:last-child {
                  padding-bottom: 0;
                }
              }
              .card-name {
                width: 80%;
                display: flex;
              }
              img {
                border-radius: 50%;
                object-fit: cover;
                padding-right: 3px;
                margin: -3px 0;
              }
              span {
                padding-left: 10px;
                font-size: 12px;
              }
              button {
                cursor: pointer;
                align-items: flex-end;
                margin-left: 40px;
                mask: url("../../images/icon-dots.svg") no-repeat center center;
                background-color: #fff;
                mask-size: 12px;
                -webkit-mask-size: 12px;
  
                transform: rotate(90deg);
                min-height: 16px;
              }
            }
            .organisation {
              padding-top: 10px;
              label {
                color: #929798;
              }
              span {
                color: #fff;
              }
            }
          }
        }
        .authorization {
          span {
            margin-right: 10px;
            margin-left: 3px;
          }
          .move {
            padding-left: 10px;
          }
          .update {
            display: flex;
            justify-content: flex-end;
            padding-top: 15px;
            margin-right: 20px;
            button {
              align-items: flex-end;
              background: green;
              color: #fff;
            }
          }
        }
        .button-wrap {
          width: 100%;
          background: #232931;
          padding: 5px;
          border-radius: 3px;
          display: flex;
          justify-content: flex-end;
          padding-bottom: 0;
          button {
            color: #fff;
            background: green;
            border-radius: 3px;
          }
        }
      }
      .none {
        background: none !important;
      }
  
      .record-wrapper {
        // height: 514px;
        // max-height: 514px;
        height: 314px;
        max-height: 314px;
        width: 421px;
        overflow: scroll;
        background: #1a1f26 0% 0% no-repeat padding-box;
        font-size: 11px;
        padding: 10px;
        .record-header {
          display: flex;
          align-items: center;
          .text {
            width: 60%;
            color: #b1b2b3;
          }
          .record-button {
            display: flex;
            .record {
              background: transparent;
              color: #fff;
              display: flex;
  
              &::before {
                content: "";
                mask: url("../../images/icon-record.svg") no-repeat center center;
                -webkit-mask: url("../../images/icon-record.svg") no-repeat center center;
                mask-size: 10px;
                -webkit-mask-size: 10px;
  
                width: 10px;
                height: 10px;
                background-color: #fff;
                margin: 3px 4px;
              }
            }
  
            .shot {
              background: transparent;
              color: #fff;
              display: flex;
  
              &::before {
                content: "";
                mask: url("../../images/icon-screenshot.svg") no-repeat center center;
                -webkit-mask: url("../../images/icon-screenshot.svg") no-repeat center center;
                mask-size: 10px;
                -webkit-mask-size: 10px;
  
                width: 10px;
                height: 10px;
                background-color: #fff;
                margin: 3px 4px;
              }
            }
          }
        }
  
        .video-content-wrapper {
          display: grid;
          grid-template-columns: 50% 50%;
          //gap: 10px;
          padding-top: 14px;
          width: 410px;
          .vid-content {
            margin-bottom: 10px;
            video,
            img {
              // max-width: 200px;
              // max-height: 100px;
              width: 200px;
              height: 120px;
              margin: 0;
            }
            .footer {
              display: flex;
              background: #232931;
              padding: 2px 2px;
              margin-top: -2px;
              margin-right: 14px;
              width: 100%;
              .id {
                width: 90%;
              }
              button {
                content: "Delete";
                mask: url("../../images/icon-delete.svg") no-repeat center center;
                mask-size: 10px;
                -webkit-mask-size: 10px;
  
                width: 10px;
                height: 10px;
                background-color: #fff;
                margin-left: -3px;
              }
            }
          }
        }
        .not-found {
          position: relative;
          top: 40%;
          left: 40%;
          color: #b1b2b3;
        }
      }
  
      .submit-wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 40px;
        padding: 0 15px;
        background: #2f3741 0% 0% no-repeat padding-box;
        display: flex;
        align-items: center;
        justify-content: flex-end;
  
        button {
          margin: 0 10px 0 0;
          padding: 0 10px;
          border: none;
          font-size: 10px;
          height: 15px;
          border-radius: 2px;
          cursor: pointer;
  
          &:last-child {
            margin-right: 0;
          }
        }
        .start {
          background-color: #00bb5a;
        }
      }
    }
  
    input:focus,
    textarea:focus {
      outline: none;
    }
  
    .edit-sub-header {
      // display: grid;
      // overflow: initial;
      // grid-template-columns: 50% 25% 25%;
      padding: 10px 0;
      width: 100%;
      background: #232931 0% 0% no-repeat padding-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .topic-search-wrapper {
        // position: absolute;
        width: 202px;
        height: 20px;
        max-width: 202px;
        z-index: 1;
        margin-left: 10px;
  
        &:before {
          display: none;
        }
  
        .topic-search {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          background: #000000 0% 0% no-repeat padding-box;
          border-radius: 2px;
  
          .before {
            content: "";
            mask: url("../../images/icon-search.svg") no-repeat center center;
            width: 14px;
            height: 14px;
            background-color: #777777;
            display: block;
            margin: 0 7px;
          }
  
          input {
            background: transparent;
            border: none;
            padding-left: 10px;
            line-height: 20px;
            width: 85%;
            color: #fff;
          }
          input:focus {
            outline: none;
          }
        }
      }
      .status-wrapper {
        margin-left: 5px;
        display: flex;
        align-items: center;
  
        .ticket-close {
          display: flex;
          font-size: 11px;
          background: #00bb5a;
          color: #000;
          margin-right: 20px;
          padding: 2px 10px;
          padding-left: 0;
          border-radius: 2px;
          cursor: pointer;
          &::before {
            content: "";
            mask: url("../../images/icon-run.svg") no-repeat center center;
            mask-size: 10px;
            -webkit-mask-size: 10px;
  
            width: 10px;
            height: 10px;
            background-color: #000;
            margin: 3px 4px;
          }
        }
  
        .ticket-reopen {
          background: #ffa500;
          color: #000;
          font-size: 11px;
          // margin-bottom: 10px;
          margin-right: 5px;
          border-radius: 2px;
          display: flex;
          align-items: center;
          gap: 3px;
          padding-right: 6px;
          cursor: pointer;
  
          &::before {
            content: "";
            mask: url("../../images/icon-run.svg") no-repeat center center;
            mask-size: 10px;
            -webkit-mask-size: 10px;
  
            width: 10px;
            height: 10px;
            background-color: #000;
            margin: 0 3px;
          }
        }
  
        .search-btn {
          display: block;
          content: "";
          mask: url("../../images/icon-search.svg") no-repeat center center;
          min-width: 14px;
          width: 14px;
          height: 14px;
          background-color: #777777;
          display: block;
          margin-right: 10px;
        }
  
        .status {
          border-left: 1px solid #777777;
          padding-left: 10px;
  
        }
      }
    }
  
    .chat-list-wrapper {
      width: 100%;
      // max-height: calc(100% - 140px);
      max-height: calc(100% - 190px);
      padding: 0 15px;
      // padding-top: 40px;
      position: absolute;
      //top: 21%;
      bottom: 75px;
      vertical-align: bottom;
      //scroll-behavior: smooth;
      overflow-y: scroll;
  
      .del-wrapper {
        .details {
          font-size: 11px;
        }
        .confirm-btn {
          color: #fff;
          background: #ff0000;
          margin: 10px;
          margin-left: 40px;
        }
        button {
          border-radius: 2px;
        }
      }
      .chat-wrapper {
        //border-left: 2px solid red;
        //overflow-y: scroll;
        //background: #1c2127 0% 0% no-repeat padding-box;
        background: transparent;
        margin: 10px 0;
        width: 100%;
        max-width: 100%;
        padding: 5px;
  
        .support-header {
          display: flex;
          position: relative;
  
          .support-header-left {
            // width: 90%;
            // display: flex;
            //align-items: center;
            width: 100%;
            display: grid;
            grid-template-columns: 2% 100% 1%;
            img {
              border-radius: 50%;
              //object-fit: cover;
              margin: -3px 5px;
              cursor: pointer;
            }
            .content-wrapper {
              margin-top: -2px;
              padding-left: 10px;
              margin-left: 13px;
              width: 100%;
              .card-label {
                color: #b1b2b3;
                border: 1px solid #b1b2b3;
                font-size: 9px;
                padding: 0 5px;
                //max-height: 11px;
              }
              .name {
                font-size: 12px;
                color: #fff;
                padding: 0 8px;
                text-transform: capitalize;
              }
              .time-zone {
                font-size: 10px;
                color: #8b8d90;
              }
              .content {
                padding: 6px 10px;
                font-size: 10px;
                overflow-y: auto;
                white-space: pre-line;
                word-break: break-all;
  
                p {
                  margin: 0 !important;
                }
                .change-status {
                  span {
                    color: #b1b2b3;
                    border: 1px solid #b1b2b3;
                    padding: 0 4px;
                    margin-left: 4px;
                    border-radius: 1px;
                  }
                }
                .content-video {
                  display: flex;
                  flex-wrap: wrap;
                  gap: 10px;
                  .content-wrapper-media {
                    .wrapper-media {
                      position: relative;
                      video,
                      img {
                        //margin-bottom: 10px;
                        margin-top: 10px;
                        // max-width: 133px;
                        height: 78px;
                        width: 133px;
                        //height: 78px;
                        //padding-right: 11px;
                        border-radius: 1px;
                        object-fit: fill;
                        cursor: pointer;
                      }
                      .media-id {
                        padding-inline-start: 5px;
                      }
                    }
                  }
                }
                .feedback {
                  display: flex;
                  gap: 10px;
                  color: #b1b2b3;
                  margin-top: 7px;
                  li {
                    color: #ffffff;
                    //display: flex;
                    cursor: pointer;
                  }
                  .arrow {
                    display: block;
                    content: "";
                    mask: url("../../images/icon-down-arrow.svg") no-repeat center
                      center;
                    -webkit-mask: url("../../images/icon-down-arrow.svg")
                      no-repeat center center;
                    min-width: 10px;
                    width: 7px;
                    height: 9px;
                    background-color: #fff;
                    display: block;
                    margin: 3px -8px;
                    transform: rotate(-90deg);
                    cursor: pointer;
                  }
                  .rotate {
                    transform: rotate(0deg);
                  }
                }
                .text {
                  margin-top: 7px;
                  color: #fff;
                }
              }
            }
          }
          .action-menu {
            position: absolute;
            top: 0;
            right: 0;
  
            cursor: pointer;
            align-items: flex-end;
            mask: url("../../images/icon-dots.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-dots.svg") no-repeat center
              center;
  
            background-color: #fff;
            mask-size: 12px;
            -webkit-mask-size: 12px;
  
            //transform: rotate(90deg);
            min-height: 16px;
          }
  
          .pane {
            position: absolute;
            padding: 5px 10px;
            right: 10px;
            background: #284469 0% 0% no-repeat padding-box;
            font-size: 10px;
            border-radius: 3px;
            z-index: 1;
  
            &:hover{
              cursor: pointer;
            }
  
            li {
              list-style: none;
              color: #fff;
              right: 10px;
              // padding: 5px;
            }
            > li:first-child {
              padding-top: 0;
            }
          }
        }
        .content {
          padding: 6px 10px;
          font-size: 10px;
          overflow-y: auto;
        }
        .reply-wrapper {
          display: flex;
          width: 100%;
          .header-reply {
            margin: 0 10px;
            ///display: flex;
            //align-items: center;
            width: 100%;
            // display: grid;
            // grid-template-columns: 2% 100% 1%;
            .reply-header-wrapper {
              // display: flex;
              // width: 100%;
              // gap: 5px;
              //align-items: center;
              margin: 5px 10px;
              ///display: flex;
              //align-items: center;
              width: 100%;
              display: grid;
              grid-template-columns: 5% 85% 1%;
              grid-gap: 10px;
              img {
                border-radius: 50%;
                object-fit: cover;
                margin: -3px 5px;
              }
              .reply-sub-wrapper {
                margin-top: -2px;
                margin-left: 5px;
                .name {
                  font-size: 12px;
                  color: #fff;
                  padding: 0 5px;
                  text-transform: capitalize;
                }
                .time-zone {
                  font-size: 10px;
                  color: #8b8d90;
                }
                .content-reply {
                  padding: 5px 6px;
                  font-size: 11px;
                  overflow-y: auto;
                  white-space: pre-line;
                  word-break: break-all;
  
                  p {
                    margin: 0 !important;
                  }
  
                  .content-video {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    .content-wrapper-media {
                      .wrapper-media {
                        position: relative;
                        video,
                        img {
                          //margin-bottom: 10px;
                          margin-top: 10px;
                          // max-width: 133px;
                          //max-height: 78px;
                          width: 133px;
                          height: 78px;
                          //padding-right: 11px;
                          border-radius: 1px;
                          object-fit: fill;
                          cursor: pointer;
                        }
                        .media-id {
                          padding-inline-start: 5px;
                        }
                      }
                    }
                  }
                }
              }
            }
  
            .panes {
              position: absolute;
              padding: 5px 10px;
              right: 10px;
              z-index: 1;
              background: #344a58;
              font-size: 11px;
              border-radius: 3px;
              li {
                list-style: none;
                color: #fff;
                right: 10px;
                //padding: 5px;
              }
              > li:first-child {
                padding-top: 0;
              }
            }
          }
          .dot {
            button {
              cursor: pointer;
              align-items: flex-end;
              //margin-left:60px;
              mask: url("../../images/icon-dots.svg") no-repeat center center;
              -webkit-mask: url("../../images/icon-dots.svg") no-repeat center
                center;
  
              background-color: #fff;
              mask-size: 12px;
              -webkit-mask-size: 12px;
  
              //transform: rotate(90deg);
              min-height: 16px;
            }
          }
        }
        .reply-image {
          display: flex;
          align-items: center;
          margin-left: 20px;
        }
        .topic-filter-search {
          &:before {
            display: none;
          }
          margin-right: 0;
  
          .search {
            position: relative;
            width: 100%;
            max-width: 325px;
            display: flex;
            align-items: center;
            width: 340px;
            background: #000000 0% 0% no-repeat padding-box;
            margin: 10px;
            border-radius: 3px;
            box-shadow: -3px 0px 3px #00000040;
            .steno-wrapper {
              width: 95%;
              .editor-fileList-wrapper {
                margin: 0 !important;
                font-size: 10px;
              }
            }
            .rply-btn {
              cursor: pointer;
              content: "";
              mask: url("../../images/icon-notes-copy.svg") no-repeat center
                center;
              -webkit-mask: url("../../images/icon-notes-copy.svg") no-repeat
                center center;
              min-width: 12px;
              width: 12px;
              height: 12px;
              background-color: #777777;
              display: block;
              margin: 0 7px;
            }
  
            input,
            textarea {
              background: transparent;
              border: none;
              padding: 0;
              min-height: 30px;
              padding-left: 6px;
              line-height: 20px;
              width: 100%;
              color: #fff;
              font-size: 11px;
              resize: none;
            }
            input:focus {
              outline: none;
            }
          }
        }
      }
    }
  
    .delete-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 15%;
    }
  
    .message {
      position: absolute;
      bottom: 0;
      margin: 10px;
      width: 95%;
      background: #000000;
      .topic-filter-search {
        &:before {
          display: none;
        }
        .search {
          position: relative;
          width: 100%;
          display: flex;
          align-items: flex-start;
          border-radius: 3px;
          margin-top: 10px;
  
          .steno-wrapper {
            width: 95%;
            .editor-fileList-wrapper {
              margin: 0 !important;
              font-size: 10px;
            }
          }
          .send {
            cursor: pointer;
            content: "";
            mask: url("../../images/icon-send.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-send.svg") no-repeat center
              center;
  
            min-width: 12px;
            width: 12px;
            height: 16px;
            background-color: #fff;
            display: block;
            margin: 0 7px;
          }
          .sends {
            background-color: green;
            color: #fff;
            border-radius: 2px;
            margin-right: 3px;
          }
  
          .cancel {
            background-color: red;
            color: #fff;
            border-radius: 2px;
            margin-right: 3px;
          }
  
          input,
          textarea {
            background: #000000;
            border: none;
            margin: 5px 10px;
            line-height: 20px;
            width: 100%;
            color: #fff;
            border-radius: 3px;
            resize: none;
          }
          input:focus {
            outline: none;
          }
        }
      }
  
      .bottom-wrapper {
        display: flex;
        align-items: center;
        padding: 10px 0;
        padding-top: 0;
        position: relative;
        .wrap-record {
          width: 80%;
        }
        .screen-wrapper {
          position: absolute;
          top: -35px;
          left: 7px;
          background: #f4f4f4;
          color: #000;
          font-size: 11px;
          width: 170px;
          padding: 4px 10px;
          border-radius: 2px;
          cursor: pointer;
          .screen-record {
            background: transparent;
            //color: #fff;
            display: flex;
  
            &::before {
              content: "";
              mask: url("../../images/icon-record-filled.svg") no-repeat center
                center;
              -webkit-mask: url("../../images/icon-record-filled.svg") no-repeat
                center center;
              mask-size: 10px;
              -webkit-mask-size: 10px;
  
              width: 10px;
              height: 10px;
              background-color: #000;
              margin: 3px 4px;
            }
          }
  
          .screen-shot {
            background: transparent;
            //color: #fff;
            display: flex;
  
            &::before {
              content: "";
              mask: url("../../images/icon-screenshot-filled.svg") no-repeat
                center center;
              -webkit-mask: url("../../images/icon-screenshot-filled.svg")
                no-repeat center center;
              mask-size: 10px;
              -webkit-mask-size: 10px;
  
              width: 10px;
              height: 10px;
              background-color: #000;
              margin: 3px 4px;
            }
          }
        }
  
        .add-btn {
          width: 80%;
          button {
            cursor: pointer;
            content: "";
            mask: url("../../images/icon-plus.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-plus.svg") no-repeat center center;
            min-width: 12px;
            width: 17px;
            height: 17px;
            background-color: #b1b2b3;
            display: block;
            margin: 0 7px;
            border-radius: 50%;
          }
        }
        .close-btn {
          //background: #00BB5A;
          background: transparent;
          color: #00bb5a;
          //margin-bottom: 10px;
          margin-right: 5px;
          margin-top: 12px;
          border-radius: 2px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 10px;
          gap: 4px;
          cursor: pointer;
  
          button {
            content: "";
            mask: url("../../images/icon-run.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-run.svg") no-repeat center center;
  
            mask-size: 10px;
            -webkit-mask-size: 10px;
  
            width: 10px;
            height: 10px;
            background-color: #fff;
            margin-left: -3px;
          }
        }
        .open-btn {
          //background: #00BB5A;
          background: transparent;
          color: #00bb5a;
          //margin-bottom: 10px;
          margin-right: 5px;
          border-radius: 2px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 10px;
          gap: 4px;
          cursor: pointer;
  
          button {
            content: "";
            mask: url("../../images/icon-run.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-run.svg") no-repeat center center;
            mask-size: 10px;
            -webkit-mask-size: 10px;
  
            width: 10px;
            height: 10px;
            background-color: #fff;
            margin-left: -3px;
          }
        }
        .delete-btn {
          background: transparent;
          color: #ff0000;
          //margin-bottom: 10px;
          margin-right: 5px;
          border-radius: 2px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 10px;
          gap: 4px;
          cursor: pointer;
  
          button {
            content: "";
            mask: url("../../images/icon-delete.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-delete.svg") no-repeat center
              center;
  
            mask-size: 10px;
            -webkit-mask-size: 10px;
  
            width: 10px;
            height: 10px;
            background-color: #fff;
            margin-left: -3px;
          }
        }
      }
    }
  }
  
  
  .topic-filter1 {
    padding: 10px 0;
  }
  .topic-filter2 {
    padding: 4px 0;
  }
  
  // .topic-filter {
  //   .react-speedselect-container {
  //     background-color: #fff !important;
  //     height: 20px !important;
  //   }
  // }
  
  .topic-filter,
  .sort,
  .topic-filter1,
  .topic-filter2 {
    display: flex;
    font-size: 14px;
    align-items: center;
  
    div.label {
      line-height: 24px;
      font-size: 14px;
      @media only screen and (max-width: 991px) {
        line-height: 14px;
      }
    }
    
  }
  .tag-suggestion-container {
    position: absolute;
    background-color: #ecece3;
    color: #000000;
    border-radius: 5px;
    padding: 10px 0;
    left: 12px;
    max-height: 120px;
    overflow-y: scroll;
    z-index: 1;
    li {
      list-style-type: none;
      font-size: 12px;
      //text-transform: capitalize;
      padding: 0 10px;
      &:hover {
        border-radius: 3px;
        background: green;
        color: #fff;
      }
    }
  }
  .user-suggestion-container {
    position: absolute;
    background-color: #ecece3;
    color: #000000;
    border-radius: 5px;
    padding: 10px 0;
    left: 12px;
    max-height: 120px;
    overflow-y: scroll;
    li {
      list-style-type: none;
      font-size: 12px;
      //text-transform: capitalize;
      padding: 0 10px;
      &:hover {
        border-radius: 3px;
        background: green;
        color: #fff;
      }
    }
  }
  .search-body {
    width: 90%;
    max-height: calc(100% - 143px);
    padding: 10px;
    position: absolute;
    bottom: 8%;
    background: rgb(44, 40, 40);
    z-index: 1;
    margin-left: 20px;
    //vertical-align: bottom;
    //top: 10%;
    // overflow: auto;
    overflow-y: scroll;
    .chat-wrapper-search {
      border-left: 2px solid red;
      overflow-y: scroll;
      background: #022e64 0% 0% no-repeat padding-box;
      margin: 10px;
      max-width: 330px;
      padding: 5px;
      z-index: 10000;
      .support-header-search {
        display: flex;
        .support-header-left-search {
          img {
            border-radius: 50%;
            object-fit: cover;
            margin: -3px 5px;
          }
          .name-search {
            font-size: 10px;
            color: #fff;
            padding-right: 8px;
            //text-transform: capitalize;
          }
          .time-zone-search {
            font-size: 10px;
            color: #8b8d90;
          }
        }
        .support-header-right-search {
          button {
            cursor: pointer;
            align-items: flex-end;
            margin-left: 60px;
            mask: url("../../images/icon-dots.svg") no-repeat center center;
            -webkit-mask: url("../../images/icon-dots.svg") no-repeat center
              center;
  
            background-color: #fff;
            mask-size: 12px;
            -webkit-mask-size: 12px;
  
            transform: rotate(90deg);
            min-height: 16px;
          }
        }
      }
      .content-search {
        padding: 5px;
        font-size: 10px;
        overflow-y: auto;
      }
    }
  }
  }}